.img-lgo{
    object-fit: contain;
}
.bg-icon{
    background: none;
}
.clr{
    background-color: #5E50A1;
    color: whitesmoke;
    border: none;
}
.clr:hover{
    background-color: #FBB017;
    color: whitesmoke;
    border: none;
}
.lgo-img{
    width: 156px !important;
    padding: 0px;
    height: 105px !important;
    object-fit: cover;
}